body {
  width: 300px;
  height: 200px;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  position: relative;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.lflex {
  display: flex;
  align-items: center;
}


.text {
  color: blue;
  font-size: medium;
  margin-left: -8px;
}

.mcontainer {
  position: absolute;
  top: -12%;
  left: 0%;
  right: 0%;
  background-color: rgb(213, 236, 238);
}

.flexbox {
  display: flex;
  justify-content: space-between;
  background-color: rgb(243, 242, 242);
  align-items: center;
  height: 60px;
}

iframe {
  margin-top: 20px;
}

.on {
  width: 50px;
}

.dots {
  position: relative;
  margin-right: 5px;
  background-color: rgb(213, 236, 238);
  border-radius: 10px 10px 0px 0px;
  margin-top: 19px;
  min-width: 44px;
  height: 50px;
}

.icon {
  width: 100%;
  z-index: 10;
  position: absolute;
  top: 68px;
  background-color: rgb(213, 236, 238);
}

.icons {
  display: flex;
  flex-direction: row;
  align-items: center;
  line-height: 10px;
  justify-content: space-between;
  margin-right: 15px;
  margin-left: 10px;
  margin-top: 4px;
  text-align: left;
  color: black;
}

.icons:hover {
  background-color: rgb(213, 236, 238);
  border-radius: 20px;
  cursor: pointer;
}

._icons {
  background-color: white;
  margin-left: 30px;
  margin-right: 30px;
  border-radius: 10px 10px 10px 10px;
}

.earning {
  background-color: white;
  margin-left: 30px;
  margin-right: 30px;
  border-radius: 10px 10px 10px 10px;
  height: 75px;
  margin-bottom: 10px;
  font-weight: 600;
}

.earning p {
  padding-top: 8px;
}

.earning h2 {
  margin-bottom: 5px;
}

p {
  font-size: large;
}

.earning h2 {
  color: green;
}

.App {
  display: flex;
  flex-direction: column;
  margin-top: 26px;
}

.reactIcons {
  margin-left: 35px;
  width: 30px;
}

.reactIcons:hover {
  color: blue;
}

.reactText {
  font-size: 20px;
  text-align: center;
}

.icons:hover {
  color: rgb(3, 3, 109);
}

.reactArrow {
  margin-right: 20px;
}

.App-link {
  color: rgb(3, 37, 82);
  text-decoration: none;
}

.logdash {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.logdash div {
  margin-bottom: 12px;
}

.container p {
  font-size: 25px;
}

.container {
  margin-top: -25px;
}

.containersText1 {
  color: blue;
  font-weight: 600;
}

.containersText {
  color: black;
  font-weight: 400;
}

.logout {
  background: rgb(223, 246, 255);
  width: 30vw;
  height: 5vh;
  font-size: 16px;
}